<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>
<h2 id="question">"<%= @question %>" - You</h2>
<h2 id="answer">"<%= @answer %>" - Coach</h2>
<h3 id="anotherquestion"><%= link_to "Ask another question", ask_path %></h3>
